@import '../../../scss/variables';

.root {
  display: inline-flex;
  flex-direction: column;
  font-family: $ff-open-sans;
  font-size: $fs-small;
  color: $c-black-dark;
}

.label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0;
  font-weight: normal;
}

.radio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  border: 1px solid $c-black-mid;
  border-radius: 100%;
  background-color: $c-white;

  &::after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 100%;
  }
}

.checked .radio {
  background-color: $c-sky-dark;
  border: 1px solid transparent;

  &::after {
    background-color: $c-white;
  }
}

.disabled {
  .label {
    cursor: not-allowed;
  }

  .radio {
    border-color: $c-black-mid;
    background-color: $c-white;
  }
}

.disabled.checked .radio {
  &::after {
    background-color: $c-black-mid;
  }
}

.container {
  line-height: 12px;
  margin-left: 5px;
  color: $c-black-dark;
  user-select: none;
}
