@import '../../../scss/variables';

.root {
  display: inline-block;

  .dayCell {
    width: 45px;
    height: 30px;

    + .dayCell {
      border-left: none;
    }

    &:first-child {
      border-radius: 3px 0 0 3px;
    }

    &:last-child {
      border-radius: 0 3px 3px 0;
    }
  }
}
